* { box-sizing: border-box }
* {
    margin: 0;
}

.img-wrapper {
    /* display: block;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
 */
    text-align: center;
    position: relative;
}

.centering-text {
    position: absolute;
    top: 50%;   
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    color: #fff;
}  

.centering-text-en {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.centering-text-jp {
    font-size: 20px;
}

.vision {
    text-align: center;
    font-size: 22px;
    padding: 70px 0 20px;
}


.centering-text-2 {
    font-size: 14px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}


.f-container1 {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.f-container2 {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .f-img-1 {
    width: 569px; */
    /* display: inline-block;
    max-width: 100%
} */

.flex-img {
    width: 2700px;
    display: inline-block;
    max-width: 100%;
}

.f-text-1 {
    /* font-size: 14px; */
    padding-left: 100px;
    padding-right: 100px;
}

.f-text-2 {
    /* font-size: 14px; */
    padding-left: 100px;
    padding-right: 100px;
}

.flex-h {
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
}

.flex-p {
    font-size: 14px;
    width: 529px;
}

/* .f-img-2 {
width: 569px;
} */