* {
    margin: 0;
}

.img-wrapper {
    /* display: block;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
 */
    text-align: center;
    position: relative;
}

.centering-text {
    position: absolute;
    top: 50%;   
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    color: #fff;
}  

.centering-text-en {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.centering-text-jp {
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 22px;
    padding: 70px 0 20px;
}


.centering-text-2 {
    font-size: 14px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}
/* ここまでぱくんちでやったとこ */

/* .img-table {
    float: left;
    width: 50%;
}

.text-table {
    height: 355px;
    font-size: 14px;
    padding-left: 100px;
    padding-right: 100px;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0%;
    scroll-margin-inline-end: 0%; 
    見本見たらこうなってたけど真似ても同じ様にならなかった…*/
/* }

.table {
    background-color: rgb(225, 225, 225);
}

.img-car {
    width: 50%;
    float: left;
}

.text-car {
    height: 355px;
    font-size: 14px;
    padding-left: 100px;
    padding-right: 100px;
    float: left;
}

.car {
    background-color: rgb(225, 225, 225); */

.f-container1 {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: row;
}

.f-container2 {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: row;
}

.f-img-1 {
    width: 50%;
}

.f-text-1 {
    height: 355px;
    font-size: 14px;
    padding-left: 100px;
    padding-right: 100px;
}

.f-text-2 {
    height: 355px;
    font-size: 14px;
    padding-left: 100px;
    padding-right: 100px;
}

.f-img-2 {
    width: 50%;
}